{% load static %}

	<script src="{% static 'solec/js/vendor/jquery-pulgin.js' %}"></script>
	<script src="{% static 'solec/js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'solec/js/prettyPhoto.js' %}"></script>
	<script src="{% static 'solec/js/isotope.pkgd.js' %}"></script>
	<script src="{% static 'solec/js/hoverdir.js' %}"></script>
	<script src="{% static 'solec/js/owl.carousel.js' %}"></script>
	<script src="{% static 'solec/js/parallax.js' %}"></script>
	<script src="{% static 'solec/js/jquery-ui.js' %}"></script>
	<script src="{% static 'solec/js/appear.js' %}"></script>
	<script src="{% static 'solec/js/countTo.js' %}"></script>
	<script src="{% static 'solec/js/swiper.min.js' %}"></script>
	<script src="{% static 'solec/js/nicescroll.js' %}"></script>
	<script src="{% static 'solec/js/handlebars.min.js' %}"></script>
	<script src="{% static 'solec/js/gmap3.js' %}"></script>
	<script src="{% static 'solec/js/main.js' %}"></script>